# The source type. git|filesystem|none
# git: clone git repository
# filesystem: copy from build context
# none: no frontend
INDEX_WEB.type=git

# Valid git URI to where to clone the repository from or
# valid local filesystem path to index-web root directory (must be sub-directory)
# of the build context.
# If type is set to "none", then the variable is not used.
INDEX_WEB.src=https://github.com/ZenDevelopmentEcosystem/index-web.git
